<md-content layout-padding flex-offset="20" flex="60">
  <h3>Change password</h3>
  <form name="settingsForm" novalidate>

    <md-input-container class="md-block">
      <label>Current Password</label>
      <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error required/>
      <p class="help-block" ng-show="form.password.$error.mongoose">
        {{ vm.errors.other }}
      </p>
      <div ng-messages="settingsForm.$error">
        <div ng-message="required">Wrong password.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>New Password</label>
      <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
      <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
        Password must be at least 3 characters.
      </p>
      <div ng-messages="settingsForm.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Confirm New Password</label>
      <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" match="user.newPassword" ng-minlength="3" required />
      <p class="help-block" ng-show="form.confirmPassword.$error.match && submitted">
        Passwords must match.
      </p>
      <div ng-messages="settingsForm.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <p class="help-block"> {{ vm.message }} </p>

    <md-button class="md-raised" ng-click="changePassword(settingsForm)">Save changes</button>

  </form>
</md-content>
