body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {

  background-color: #ff0;
  right: -500px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 500px;
}

/* Basic styling */

.jumbotron {
  background-image: url('https://wolfsgamingblog.files.wordpress.com/2014/08/en_gameinfo_products_comingsoon_header_t_01_131210.jpg');
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: #bbb;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
  color: #bbb;
}

#content {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  width: auto;
  height: 700px;
}

#textmsg {
  width: 330px;
  background-color: #fff;
  margin-left: 50px;
  margin-right: 10px;
  float:left;
}

#btnsend {
  width: auto;
  float:right;
  margin-right:50px;
}
