<md-content flex layout-padding>
  <md-button ng-click="openChat()" ng-hide="isOpen()" class="md-raised md-small btn-chat" aria-label="chatButton">
    <i class="fa fa-comments"></i>
  </md-button>
</md-content>

<md-sidenav class="md-sidenav-right" md-component-id="right">
  <md-content class="chat-content" scroll-glue>
    <md-list>
      <md-list-item ng-repeat="message in messages">
        <div layout="row">
          <p><b>{{message.user}}</b>: {{message.text}}</p>
          <div ng-if="isAdmin()">
            <md-button ng-click="deleteMessage(message)" class="md-icon-button" aria-label="Edit">
              <i class="fa fa-close"></i>
              <md-tooltip md-direction="down">Delete</md-tooltip>
            </md-button>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
  <md-content class="chat-input" ng-controller="RightCtrl">
    <form>
      <md-input-container class="md-block" style="margin-bottom:-20px;">
        <label for="messageText">Message</label>
        <textarea type="text" ng-keypress="sendMessage($event)" ng-model="newMessage.text" maxlength="200"></textarea>
      </md-input-container>
      <md-input-container class="md-block" style="margin-bottom:-20px; width:250px;">
        <label for="messageUser">Name</label>
        <input type="text" ng-keypress="sendMessage($event)" ng-model="newMessage.user" md-autofocus maxlength="20">
      </md-input-container>
      <md-button class="md-raised btn-chat" ng-click="sendMessage($event)">Send
      </md-button>
    </form>
  </md-content>
</md-sidenav>
