@media {
  md-backdrop.md-sidenav-backdrop {
    display: none;
  }
}

.btn-chat{
  position:fixed;
  bottom:0px;
  right:0px;

  z-index: 1;

  height: 50px;
  width: 50px;
  min-width: 0px;
  min-height: 0px
}

.md-sidenav-right{
  border-left: 1px solid #E5E5E5;
  background-color: #fff;
  margin-top: 50px;
  position:fixed;
  overflow-y: hidden;
}
